{% extends "layout.html" %}

{% block title %}
    Sales Reg
{% endblock %}

{% block main %}
        <div class="container">
            <div class="section">
                <h2>Sales Registration</h2><br>
                <form action="/" method="post">
                    <div class="form-group">
                        <label for="model1">Choose furniture model</label>
                        <input id="model1" type="text" name="model" list="exampleList" autocomplete="off" autofocus class="form-control">
                        <datalist id="exampleList">
                            {% for mod in models %}
                            <option value="{{ mod.model }}">{{ mod.model }}</option>
                            {% endfor%}
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label for="model2">Add a description</label>
                        <input id="model2" autocomplete="off" autofocus name="descript" placeholder="Description" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="model3">Add measurements</label>
                        <input id="model3" autocomplete="off" autofocus name="meas" placeholder="Measurements" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="model4">Client Name</label>
                        <input id="model4" autocomplete="off" autofocus name="client" placeholder="Client" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="model7">Client Type</label>
                        <select id="model7" autocomplete="off" autofocus class="form-control" name="clientType" type="text">
                            <option value="">--Select an option--</option>
                            <option value="contract">contract</option>
                            <option value="viviendas">viviendas</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="model5">Items sold</label>
                        <input id="model5" autocomplete="off" autofocus name="sales" placeholder="Sales" type="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="model6">Sale date</label>
                        <input id="model6" autocomplete="off" autofocus name="date" placeholder="dd/mm/yyyy" type="date" class="form-control">
                    </div><br>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>

{% endblock %}