{% extends "layout.html" %}

{% block title %}
    Movements Registration
{% endblock %}

{% block main %}
        <div class="container">
            <div class="section">
                <h2>Material Handling Registration</h2><br>
                <form action="/register" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label for="motiveSelect">Select handling motive</label>
                        <select autocomplete="off" autofocus class="form-control" name="motive" type="text" id="motiveSelect" onchange="GFG_Fun()">
                            <option value="">--Please choose a motive--</option>
                            {% for opt in option %}
                            <option value="{{ opt }}">{{ opt }}</option>
                            {% endfor%}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="myDestination">Destination</label>
                        <input autocomplete="off" autofocus class="form-control" name="destination" id="myDestination" placeholder="e.g. Client/Supplier Name" type="text">
                    </div>
                    <div class="form-group">
                        <label for="mySelect">Inventory Item</label>
                        <select autocomplete="off" autofocus class="form-control" name="item" type="text" id="mySelect" onchange="GFG_Fun()">
                            <option value="">--Please choose a item--</option>
                            <option value="-">-</option>
                            {% for row in stock %}
                            <option value="{{ row.name }}">{{ row.name }}</option>
                            {% endfor%}
                        </select>
                    </div>
                    <div class="form-group">
                        <p id="GFG_DOWN" ></p>
                    </div>
                    <div class="form-group">
                        <label for="myQty">Item Quantity</label>
                        <input autocomplete="off" autofocus class="form-control" name="qty" placeholder="Qty" id="myQty" type="number">
                    </div>
                    <div class="form-group">
                        <label for="myDate">Handling Date</label>
                        <input autocomplete="off" autofocus class="form-control" name="date" placeholder="dd/mm/yyyy" id="myDate" type="date">
                    </div><br>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>
        <script>
            function GFG_Fun() {
                var x = document.getElementById("mySelect").selectedIndex;
                var y = document.getElementById("mySelect").options;
                var b = document.getElementById("motiveSelect").selectedIndex;
                var c = document.getElementById("motiveSelect").options;
                var d = document.getElementById("GFG_DOWN")
                // Create node child for new input text box
                var ID = document.createElement("input");
                ID.setAttribute("type", "text");
                ID.setAttribute("name", "supItem");
                ID.setAttribute("placeholder", "Item");
                ID.setAttribute("class", "form-control");

                if (document.getElementById("mySelect").disabled && c[b].text !== "Supplier") {
                    document.getElementById("mySelect").disabled = false;
                    d.removeChild(d.childNodes[0]);
                }

                if (y[x].text === "-" && c[b].text === "Supplier") {
                    document.getElementById("mySelect").disabled = true;
                    d.appendChild(ID);
                }
            }
        </script>
{% endblock %}
