{% extends "layout.html" %}

{% block title %}
    Inventory
{% endblock %}

{% block main %}
        <div class="container">
            <div class="section">
                <h2>Stock Inventory</h2>
                <table id="myTable" class="table table-hover table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in stock%}
                        <tr id="myRow">
                            <td>{{ row.name }}</td>
                            <td id="qtyCell">{{ row.qty }}</td>
                            <td>{{ row.unit }}</td>
                            <td style="display:none;">{{ row.alert }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            // Get total number of rows in table
            var x = document.getElementById("myTable").rows.length;
            var i;

            // Iterate every row
            for (i = 1; i < x; i++) {

                // Get Qty cell as object
                var c = document.getElementById("myTable").rows[i].cells[1];
                // Get qty cell value as text
                var cellQty = document.getElementById("myTable").rows[i].cells[1].innerText;
                // Get alert cell value as text
                var cellAlert = document.getElementById("myTable").rows[i].cells[3].innerText;
                // Convert Qty cell value into float
                var floatQty = parseFloat(cellQty);
                // Convert Alert cell value into float
                var floatAlert = parseFloat(cellAlert);

                // Paint yellow every value minor than alert value
                if (floatQty <= floatAlert && floatQty >= 0) {
                    c.style.backgroundColor = "yellow";

                }

                // Paint red every value minor than zero
                if (floatQty < 0) {
                    c.style.backgroundColor = "lightcoral";

                }
            }
        </script>
{% endblock %}